body 
{background-image: url("./Grey Cubes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-style: oblique;
    color: rgb(255, 255, 255);
}
h1 {
color: rgb(255, 255, 255);
}


h2 {
color: rgb(255, 255, 255);
}


h3 {
color:  rgb(255, 255, 255);
}


h4 {
color:  rgb(255, 255, 255);
}


h5 {
color:  rgb(255, 255, 255);
}


h6 {
color:  rgb(255, 255, 255);
}

p {
color:  rgb(255, 255, 255);
font-size:  x-large;
}

.single-image {
    margin: 0 auto;
    padding: 1rem;
    max-width: 600px;
}

.single-image img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

figcaption {
    padding-top: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: large;
}

input {
    color:  rgb(255, 255, 255);
}

